footer{
    background-color: rgb(143, 137, 137);
    height: $alto -600;
h2{
    color: $color;
    font-size: 30px;
    text-align: center;
}

h3{
    color: $color;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: grey;
    font-size: 15px;
    text-align: center;
}
}