footer{
    background-color: lightgray;
h2{
    color: black;
    font-size: 30px;
    text-align: center;
}

h3{
    color: black;
    font-size: 20px;
    text-align: center;
}
p{
    color: grey;
    font-size: 15px;
    text-align: center;
}
}