footer{
    background-color: $backg;
    height: $alto -200px;
h2{
    color: $color;
    font-size: 30px;
    text-align: center;
}

h3{
    color: $color;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: $color;
    font-size: 15px;
    text-align: center;
}
}