header{
    background-color: lightgrey;
h1{
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}
h2{
    color: black;
    font-size: 30px;
    text-align: center;
}
}
